p {font-family: georgia, serif; font-size: x-small;}


/* Classes are used to specify attributes for a group of objects 
Classes are defined with a .
Use Styles when the it needs to be applied multiple times on the same page.
Example: Many H1 elements
*/
div.css-section { 
border:2px dotted blue; 
font-size:20px;
letter-spacing:5px;

}

p.css-section {
	color:green; 
}


/*ID is used to specify a style for a single, unique element 
ID's are defined with a #
Use IDs if only one element on the page should have the style applied, and/or you need a unique identifier for that element
Example formatting layout for a special div tag
*/
div#css-section { border:1px dotted blue; }


p#marginStyle1 {
	border:1px solid orange;
	margin-left:60px;
}


p#marginStyle2 {
	border:1px solid orange;
	padding:20px;
}




